@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Poppins:wght@400;700&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-primary {
    background-color: #FF5733;
    padding: 15px;
    color: #fff;
    font-size: 120%;
    border: none;
    border-radius: 5px;
}

/* banner sector */
.header {
    background-image: url('../images/donation1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    text-align: center;
}

.header-container {
    padding-top: 200px;
}

.header-title {
    color: #fff;
    font-size: 450%;
    margin-bottom: 20px;
}

.header-description {
    color: #fff;
    font-size: 130%;
    margin-bottom: 20px;
}

/* donate today */

.section {
    margin-top: 100px;
    text-align: center;
}

.section-title {
    font-size: 300%;
    margin-bottom: 30px;
}

.section-description {
    font-size: 130%;
    color: rgb(145, 124, 124);
    margin-bottom: 40px;

}

.section-container {
    margin-bottom: 50px;
}

.cards-items {
    display: inline-block;
    height: 70px;
    width: 120px;
    border-radius: 10px;
    background-color: beige;
    margin-left: 10px;
    color: rgb(118, 97, 97);
    padding-top: 40px;
    font-size: 30px;
    font-weight: bold;
}

.cards-items:hover {

    color: #FF5733;
    background-color: #c9b8b4;
}

.amount-input {
    height: 50px;
    width: 960px;
    border: none;
    font-size: 20px;
    text-align: center;
    color: gray;
    border-bottom: 1px solid gray;
    margin-bottom: 30px;
}

/* our donate sector */
.our-donate-container {
    display: flex;
    margin-top: 100px;
}

.our-donate-subcontainer {
    width: 360px;
    height: 352px;
    left: 157px;
    top: 1595.5px;
    border-radius: 5px;
    margin: 0 auto;
    text-align: left;
    padding: 25px;
}

.bg-color-frist-child {
    background: rgba(79, 157, 166, 0.1);
    margin-left: 100px;
}

.bg-color-middle-child {
    background: rgba(255, 89, 89, 0.1);
}

.bg-color-last-child {
    background-color: #FFF4D6;
    margin-right: 100px;

}

.our-donate-img {
    margin-top: 60px;
    margin-bottom: 20px;
}

.our-donate-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.our-donate-description {
    color: #707070;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}